---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import IntroSection from '../components/IntroSection.astro'
import BrandSection from '../components/BrandSection.astro'
import BlockOne from '../components/BlockOne.astro'
import Card from '../components/Card.astro'
import SliderSection from '../components/SliderSection.astro'
import SliderSection2 from '../components/SliderSection2.astro'
import InfoSection from '../components/InfoSection.astro'
import InfoSection2 from '../components/InfoSection2.astro'
import MapSection from '../components/MapSection.astro'


const res = await fetch("http://localhost:8081/wp-json/wp/v2/product")
const posts = await res.json()

---

<Layout title="Welcome to Astro.">
     <Hero />
	 <IntroSection />
	 <BrandSection />
	 <SliderSection />
	 <SliderSection2 />
	 <InfoSection />
	 <InfoSection2 />
	 <MapSection />
	<!--  <main class="m-auto p-[1.5rem] relative z-30 bg-white">
		{
			posts.map((post) => (
				<h2 set:html={post.title.rendered} />
				<p set:html={post.content.rendered} />
			))
		  }
		  </main>-->
</Layout>
