---
import golf from '../assets/images/golf.jpg'
import pool from '../assets/images/pool.jpg'
import house from '../assets/images/house.jpg'
---
<section class="fadeOut h-screen w-full max-w-full min-h-[800px] max-h-[1400px] flex flex-row justify-center items-center py-[15%] px-[56px] relative overflow-hidden">
    <div class="max-w-[1440x] flex flex-col justify-center items-center self-center mt-0 p-0 relative mx-auto">
    <div class="text-[#333] text-center tracking-[3px] mt-[10px] font-[Moderat] text-[11px] font-[400] leading-[15px]">MIMA HOUSING</div>
    <h2 class="text-center mt-[10px] mb-[20px] w-auto max-w-none min-w-auto text-[#000] font-[Ogg] text-[50px] font-[400] leading-[80%] static">
                A BRAND
                <br>
                OF ARCHITECTURE
            </h2>
            <div class="w-[90vw] max-h-[1400px] overflow-hidden m-auto">
            <img 
            src={house.src}
            width={house.width}
            height={house.height}
            alt="" 
            class="heroImg anim"
            >
        </div>
            <div class="mx-[-10px] mt-[40px] mb-auto block font-[Ogg]" >
                
                <div class="justify-between pl-[10px] pr-[20px] flex w-1/3 float-left min-h-[1px] relative">
                    
                    <div class="pl-[10px]">
                        <h4 class="my-[10px] font-[Moderat] text-[18px] font-[400] leading-[122%]">Identity</h4>
                        <p class="w-auto self-center my-0 font-[Moderat] text-[13px] font-[300] inline-block">Every house has its own identity, all different from one another, despite having a common base, inherent to the Mima system. Thus our ultimate goal, allowing for customization, regarding predefined architectural rules.</p>
                    </div>
    
                </div>
    
                <div class="justify-between pl-[10px] pr-[20px] flex w-1/3 float-left min-h-[1px] relative">
                    <div class="pl-[10px]">
                        <h4 class="my-[10px] font-[Moderat] text-[18px] font-[400] leading-[122%]">Quality</h4>
                        <p class="w-auto self-center my-0 font-[Moderat] text-[13px] font-[300] inline-block">The quality of the architecture, along with the quality of the construction execution and construction materials is Mima’s fundamental aim. Our objective is long-lasting, gracefully enduring, quality construction.</p>
                    </div>
                </div>
                <div class="justify-between pl-[10px] pr-[20px] flex w-1/3 float-left min-h-[1px] relative">
                    <div class="pl-[10px]">
                        <h4 class="my-[10px] font-[Moderat] text-[18px] font-[400] leading-[122%]">Simplicity</h4>
                        <p class="w-auto self-center my-0 font-[Moderat] text-[13px] font-[300] inline-block">Simple constructions are the most attractive and timeless ones. Our intention is not different or strange constructions but timeless, attractive and comfortable ones. We believe simplicity is ultimate sophistication.</p>
                    </div>
                </div>
            </div>
    </section>
    