---

---
<section class="relative text-center w-screen">
    <div class="before:bg-[rgba(8,30,46,.5)] before:text-white before:content-[' '] before:h-full before:absolute before:top-0 before:w-full bg-[rgba(8,30,46,1)] bg-center bg-no-repeat bg-cover text-white py-[80px] relative" data-back="https://www.waterlinesquare.com/wp-content/uploads/2020/10/global-footer-v2-1440x300-2.jpg">
    <div class="callout__container">
    <div class="mb-[45px]">
                            <h2 class="text-[48px] leading-[64px]">Welcome Home</h2>
                    </div>
    <div class="flex flex-row justify-center flex-wrap">
                        <div class="mr-[33px]">
                <a class="w-auto border border-white min-w-[200px] py-[20px] px-[30px] relative text-center uppercase" href="https://www.waterlinesquare.com/availability-condominiums/">available condominiums</a>
        </div>
                        <div class="callout__links-item">
                <a class="w-auto border border-white min-w-[200px] py-[20px] px-[30px] relative text-center uppercase" href="https://www.waterlinesquare.com/availability-luxury-rentals/">available luxury rentals</a>
        </div>
        
    </div>
</div>
</div>
</section>

<section class="w-full relative bg-[#edece9]">
<div class="max-w-[1100px] m-auto">

            <div class="flex justify-between flex-row py-[64px] text-center">
            <div class="pre-footer__left">
        <div class="pre-footer__details">
            <div class="pre-footer__heading">Condominiums</div>
            <ul>
                                        <li>Call: <span class="InfinityNumber clickable"><a href="tel:2125868333">2125868333</a></span></li>
                                                                                        <li><a href="mailto:condos@waterlinesquare.com?subject=Waterline%20Square%20Website%20Contact%20Page%20Condominium%20Email%20Inquiry">condos@waterlinesquare.com</a></li>
                                                            </ul>
        </div>
    </div>
    <div class="pre-footer__mid">
        <div class="pre-footer__heading">Find Us on</div>
        <div class="flex mt-[20px]">
            <a href="https://www.instagram.com/waterlinesquare/" class="flex justify-center h-[42px] w-[42px] items-center bg-white rounded-full mx-[10px]" target="_blank"><img src="https://www.waterlinesquare.com/wp-content/themes/waterlinesquare/assets/icons/source/Instagram.svg" alt="Instagram Icon" class="w-[18px] h-auto" data-src="https://www.waterlinesquare.com/wp-content/themes/waterlinesquare/assets/icons/source/Instagram.svg" decoding="async"><noscript><img src="https://www.waterlinesquare.com/wp-content/themes/waterlinesquare/assets/icons/source/Instagram.svg" alt="Instagram Icon" class="lazyload" data-eio="l"></noscript></a>
            <a href="https://www.facebook.com/WaterlineSquare/" class="flex justify-center h-[42px] w-[42px] items-center bg-white rounded-full mx-[10px]" target="_blank"><img src="https://www.waterlinesquare.com/wp-content/themes/waterlinesquare/assets/icons/source/facebook.svg" alt="Facebook Icon" class="w-[18px] h-auto" data-src="https://www.waterlinesquare.com/wp-content/themes/waterlinesquare/assets/icons/source/facebook.svg" decoding="async"><noscript><img src="https://www.waterlinesquare.com/wp-content/themes/waterlinesquare/assets/icons/source/facebook.svg" alt="Facebook Icon" class="lazyload" data-eio="l"></noscript></a>
        </div>
    </div>
    <div class="pre-footer__right">
        <div class="pre-footer__details">
            <div class="pre-footer__heading">Luxury Rentals</div>
            <ul>
                                        <li>Call: 
<span class="InfinityNumber clickable">2129579577</span>						</li>
                                                                <li>Text: <a href="sms:833.648.9709">833.648.9709</a></li>
                                                                <li><a href="mailto:leasing@waterlinesquare.com?subject=Waterline%20Square%20Website%20Contact%20Page%20Leasing%20Email%20Inquiry">leasing@waterlinesquare.com</a></li>
                                                                <li><a href="https://www.google.com/maps/place/400+W+61st+St,+New+York,+NY+10069,+USA/@40.7733654,-73.9937313,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2585c54784abd:0x10dc4ce608513dee!8m2!3d40.7733654!4d-73.9915426" target="_blank">400 West 61st Street  New York, NY 10023</a></li>
                                    </ul>
        </div>
    </div>
</div>
</div>
</section>