---
import video from '../assets/video/loihivid.mp4'
import CldImage from '../components/CldImage.astro'
import CldVideo from '../components/CldVideo.astro'
import golf from '../assets/images/golf.jpg'
import pool from '../assets/images/pool.jpg'
import house from '../assets/images/house.jpg'

---
<section class="fadeOut" id="super-duper">
<div class="relative w-[100vw] h-auto m-auto z-0">
<CldVideo src='loihivid_s4yk3k' />
<div class="headerText fadeOut before:content-[''] before:table z-[999999] inset-0 flex flex-col justify-center items-center mx-[40px] absolute top-0">
<div class="flex flex-col items-center w-fit h-fit">
<p class="text-white uppercase leading-[90%] text-[60px] text-center font-['Ogg_roman']">
    We BELIEVE
    <br>
    SIMPLICITY IS ULTIMATE
    <br>
    SOPHISTICATION
</p>
    <div class="mt-[10px] text-white uppercase text-center tracking-[3px] font-[Moderat] text-[11px] font-[300] leading-[15px]">
        kahului, maui, hawaii
    </div>
    <div class="mt-6 w-[1px] h-[90px] bg-white justify-center self-center block">
        </div>
    </div>
    </div>
</div>
</section>










         

