---

---
<section class="fadeOut h-[90vh] max-h-[1400px] w-screen px-[10vw] overflow-hidden">
    <div class="textContainer anim w-full h-full flex flex-col items-center justify-center">
        <div class="prose prose-2xl font-['Ogg_roman'] text-black text-center text-5xl uppercase">
            <p>We BELIEVE<br>SIMPLICITY IS ULTIMATE<br>SOPHISTICATION</p>
        </div>
        <div class="mt-6 w-[1px] h-[90px] bg-black justify-center self-center block">
        </div>
        <div class="mt-[30px] text-black uppercase text-center tracking-[3px] font-[Moderat] text-[11px] font-[300] leading-[15px]">
            kahului, maui, hawaii
        </div>
    </div>
    </section>