---
import golf from '../assets/images/golf.jpg'
import pool from '../assets/images/pool.jpg'
import house from '../assets/images/house.jpg'
---
<section class="h-screen w-screen py-[20vh]">
    <div class="mb-[60px] max-w-[1440px] px-[20px] m-auto">
            <div class="eyebrow">A Stunning Haven To Call Home</div>
            <div class="max-w-[400px]">
                    <h2 class="text-[48px] leading-[62px]">A True Sanctuary</h2>
                                <p class="mt-[1em]">From the lush Waterline Square Park to dazzling glass facades, a team of world-renowned design<br>
talent considered every detail for truly impeccable surroundings.</p>
                            </div>
</div>
    <div class="flex flex-row gap-4 overflow-hidden my-[40px] mx-auto py-[40px] w-[90vw] max-w-[1440px]">
<div class="w-1/4 h-auto overflow-hidden relative">
<img src={ golf.src }  width={golf.width} height={golf.height} alt="two waterline square lobby interior" class="absolute left-[-50%] inset-0 max-w-[600px]" />
</div>
<div class="w-1/4 h-auto overflow-hidden relative">
<img src={ pool.src }  width={pool.width} height={pool.height} alt="two waterline square lobby interior" class="absolute left-[-50%] inset-0 max-w-[600px]" />
</div>
<div class="w-1/4 h-[125%] overflow-hidden">
<img data-src="https://www.waterlinesquare.com/wp-content/uploads/2020/11/1wsq-1.jpg" src="https://www.waterlinesquare.com/wp-content/uploads/2020/11/1wsq-1.jpg" alt="One Waterline Square Exterior" data-scroll-animation="swipe-left-to-right" class="object-cover object-center max-w-none">
</div>
<div class="w-1/4 h-[125%] overflow-hidden">
<img data-src="https://www.waterlinesquare.com/wp-content/uploads/2020/11/2wsq-1.jpg" src="https://www.waterlinesquare.com/wp-content/uploads/2020/11/2wsq-1.jpg" alt="Two Waterline Square Exterior" data-scroll-animation="swipe-left-to-right" class="object-cover object-center max-w-none">
</div>
<div class="w-1/4 h-[125%] overflow-hidden">
<img data-src="https://www.waterlinesquare.com/wp-content/uploads/2020/11/3wsq-1.jpg" src="https://www.waterlinesquare.com/wp-content/uploads/2020/11/3wsq-1.jpg" alt="Three Waterline Square Exterior" data-scroll-animation="swipe-left-to-right" class="object-cover object-center max-w-none">
</div>
<div class="w-1/4 h-[125%] overflow-hidden">
<img data-src="https://www.waterlinesquare.com/wp-content/uploads/2020/10/boundlessbeauty-2-800x450-1.jpg" src="https://www.waterlinesquare.com/wp-content/uploads/2020/10/boundlessbeauty-2-800x450-1.jpg" alt="waterline square 2.6 acre park water feature and walkway" data-scroll-animation="swipe-left-to-right" class="object-cover object-center max-w-none">
</div>
                        </div>
</section>