---

---

<section class="my-[80px]">
    <div class="mb-[60px] max-w-[1320px] m-auto">
            <div class="eyebrow">A Stunning Haven To Call Home</div>
            <div class="max-w-[400px]">
                    <h2 class="text-[48px] leading-[62px]">A True Sanctuary</h2>
                                <p class="mt-[1em]">From the lush Waterline Square Park to dazzling glass facades, a team of world-renowned design<br>
talent considered every detail for truly impeccable surroundings.</p>
                            </div>
</div>
</section>
<section>
    <div class="flex flex-row w-screen gap-4 overflow-hidden my-[40px] mx-auto py-[40px] max-w-[100vw]">
        <div class="w-[33vw] h-[calc(33vw_*_0.67)] overflow-hidden bg-golf bg-cover bg-center">
         </div>
        <div class="w-[33vw] h-[calc(33vw_*_0.67)] overflow-hidden bg-pool bg-cover bg-centern">
         </div>
        <div class="w-[33vw] h-[calc(33vw_*_0.67)] overflow-hidden bg-house bg-cover bg-center overflow-hidden">
        </div>
                                </div>
</section>