---
import "@fontsource/cormorant-infant"
import "@fontsource/poppins"
import "../assets/fonts/grande.ttf"
import { ScrollObserver } from 'astro-scroll-observer';
import Header from '../components/Header.astro'
import Popup from '../components/Popup.astro'
import Footer from '../components/Footer.astro'
import '../styles/base.css'
// ...



export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="loihi">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.typekit.net/hcj0uwp.css">
		<title>{title}</title>
		<ScrollObserver />
	</head>
	<body class="overflow-x-hidden">
		<Header />
		<slot />
	    <Popup />
	    <Footer />
		<script is:inline src="../src/index.js"></script>
	</body>
</html>
